@media only screen and (min-width: 601px) {
.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background: url("../IMAGES/white-black-lined-wall-1024613.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:auto;
    font-family: 'Karla', sans-serif;
    
}

.cardbox{
    display: grid;
    grid-column: 2/6;
    grid-row: 2/5;
    
    border-radius: 10px 10px 10px 10px;
    grid-gap: 0px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.card{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: auto;
    border-radius: 10px 10px 10px 10px;
    
    
}
.header{
    background-color: white;
    padding: 40px 10px;
    font-weight: 700;
    grid-row: 1;
    border-radius: 10px 10px 0px 0px;
    /* align-items: center; */
    

}

.header > h1{
    color: #2AB2AF;
    font-weight: 700;
}
.header >  h2{
    color: #C0DF34;
}
.header >  p{
    color: #98A6BD;
}

.lowerdiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px; 
    border-radius: 0px 0px 10px 10px;
          
}

.lowerdiv > div > div > h1, h2,  h3, h4, h5, p, span{
    color: white;
    font-weight: 700;
    
}

.lowerdiv > div >div > p{
    color: white;
    font-weight: 400;
    font-size: 14px;
    
}

.box1 {
    background-color: #27A5A3;
    padding: 15px;
    border-radius: 0px 0px 0px 10px;
    
}

.dollar h1{
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.dollar p{
    display: inline;
    vertical-align: -webkit-baseline-middle;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 13px;
}

.box2{
    background-color: #2AB2AF;
    padding: 15px;
    border-radius: 0px 0px 10px 0px;
}

.box2 > h2{
    font-weight: 700;
}

.box2 > p{
    color: white;
    font-weight: 400;
    font-size: 12px;
    list-style-type: none;
}




.button{
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button > button{
    background-color: #C0DF34;
    border: #C0DF34 1px solid;
    border-radius: 3px;
    color: white;
    margin: 30px;
    padding: 10px 60px;
}
}

@media only screen and (max-width: 600px) {
    .container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        background: url("../IMAGES/white-black-lined-wall-1024613.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width:auto;
        font-family: 'Karla', sans-serif;
        
    }

    .cardbox{
        display: grid;
        grid-column: 2/6;
        grid-row: 1/6;
        
        border-radius: 10px 10px 10px 10px;
        grid-gap: 0px;
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }
    
    .card{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        border-radius: 10px 10px 10px 10px;
        grid-template-rows: auto;
        
        
    }
    .header{
        
        background-color: white;
        padding: 40px 10px;
        font-weight: 700;
        border-radius: 10px 10px 0px 0px;
        /* align-items: center; */   
    
    }

    .header > h1{
        color: #2AB2AF;
        font-weight: 700;
    }
    .header >  h2{
        color: #C0DF34;
    }
    .header >  p{
        color: #98A6BD;
    }
    
    .lowerdiv{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 0px; 
        border-radius: 0px 0px 10px 10px;
              
    }

    .lowerdiv > div > div > h1, h2,  h3, h4, h5, p, span{
        color: white;
        font-weight: 700;
        
    }
    
    .lowerdiv > div >div > p{
        color: white;
        font-weight: 400;
        font-size: 14px;
        
    }

    .box1 {
        background-color: #27A5A3;
        padding: 15px;
        
        
    }
    .dollar h1{
        display: inline;
        vertical-align: sub;
        font-family: 'Open Sans', sans-serif;
        color: white;
    }
    
    .dollar p{
        display: inline;
        vertical-align: baseline;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-weight: 400;
        font-size: 13px;
    }

    

    .box2{
        background-color: #2AB2AF;
        padding: 15px;
        border-radius: 0px 0px 10px 10px;
        font-size: 13px;
        font-weight: 400;
    }
    .button{
        color: white;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .button > button{
        background-color: #C0DF34;
        border: #C0DF34 1px solid;
        border-radius: 3px;
        color: white;
        margin: 30px;
        padding: 10px 60px;
    }
}